extends layout

block content
  div(class='overlay')
  div(class='row')
    div(class='col-xs-12 text-center')
      h1= title
  div(class='row')
    div(class='col-xs-12 text-center')
      p The fastest way to record and send videos.
  div(class='row')
    div(class='col-xs-12 text-center')
      ziggeo(class='video')
  div(class='row email')
    div(class='col-xs-12 text-center')
      form#formAddUser(name="submit",method="post",action="/submit")
        input#inputUserName(type="text", placeholder="My Email", name="username")
        input#inputUserEmail(type="text", placeholder="Receiver(s) Email", name="useremail")
        br
        input#inputPhoneNumber(type="text", placeholder="Receiver(s) Number", name="number")
        input#tokenId(type="hidden" placeholder="tokenId" name="tokenId")
        button#btnSubmit(type="submit") submit
  div(class='row text')
    div(class='col-xs-12 text-center')
      form#formAddUser(name="sendSMS",method="post",action="/sendSMS")

