doctype html
html
  head
    title= title
    link(rel='icon', href='images/favicon.ico')
    link(rel='stylesheet', href='//assets.ziggeo.com/css/ziggeo-betajs-player.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js')
    script(type='text/javascript').
      ZiggeoApi.token = "2a6731f8f222175f8df0a416ac3736c0";
  body(class='container-fluid')
    div(class='overlay')
    div(class='row')
      div(class='col-xs-12 text-center')
        h1 Shared Video
    div(class='row retrieved')
      div(class='col-xs-12 text-center')
        ziggeo(ziggeo-video='#{token}' class='video') 

